.box {
    display: flex;
    justify-content: space-between;
  }

.playername {
    background-color: whitesmoke;
    z-index: 999;
    padding: 50px;
    top: 20px;
}

.title {
    text-align: center;
    justify-content: center;
    margin-right:650px;
    margin-top:50px;
    background-color:rgb(204, 231, 255);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color:rgb(27, 26, 26);
    font-size: x-large;
    letter-spacing: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: center;
}

.boxes_button {
    background-color:  rgb(32, 128, 176);
    border-color:black;
    border-style: groove;
    border: 1px solid;

    height: 90px;
    border-radius:10px;
    z-index: 999;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.3s;
    top: 20px;
}

.boxes_button:hover{
    transition: all 0.3s;
    color: white;
}

.find {
    background-color: whitesmoke;
    z-index: 999;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
    top: 20px;
}

.timer {
    background-color: whitesmoke;
    z-index: 999;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
    top: 20px;
}

.rect {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    z-index: 999;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 10px;
    top: 20px;
}

.boxes {
    background-color: whitesmoke;
    z-index: 999;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
    top: 20px;
    display: inline-block;
}

.cards {
    z-index: 999;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left:1px;
    margin-right:1px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left:2%;
    padding-right: 2%;
    top: 1px;
}
.rules {
      background-color: whitesmoke;
    z-index: 999;
    margin: 20px;
    padding-right: 400px;
    top: 20px;
}

.box {
    display: flex;
    float:center;
    justify-content: space-between;
  }

.playername {
    background-color: whitesmoke;
    z-index: 999;
    padding: 50px;
    top: 20px;
}


.scores {
    background-color:rgb(32, 128, 176);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    z-index: 999;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 1px;
    margin: 20px;
    width: 125px;
    height: 60px;
}

.timer {
    background-color: rgb(32, 128, 176);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    z-index: 999;
    padding-left: 10px;
    padding-right: 5px;
    
    margin: 20px;
    width: 90px;
    height: 60px;
    top: 20px;
}

.rect {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-color: rgb(204, 231, 255);
    z-index: 999;
    border-radius: 20px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 10px;
    top: 20px;
}

.boxes {
    background-color:  rgb(32, 128, 176);
    border-color:black;
    border-style: groove;
    border: 1px solid;

    height: 90px;
    border-radius:10px;
    z-index: 999;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    top: 20px;
}

.cards {
    z-index: 999;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left:1px;
    margin-right:1px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left:2%;
    padding-right: 2%;
    top: 1px;
}
.rules {
    color:white;
    text-align:center;
      font-size: large;
      font-family:'Times New Roman', Times, serif;
      letter-spacing:2px;
    z-index: 999;
    margin-top: 10px;
    margin-bottom:10px;
    top: 20px;
}

.score{
    background-color: rgb(32, 128, 176);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    z-index: 999;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
    margin: 20px;
    width: 135px;
    height: 60px;
   


}

.start{
    background-color: rgb(113, 82, 205);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    z-index: 999;
    padding-top: 17px;
    padding-bottom: 10px;
    text-align: center;
    margin: 20px;
    width: 110px;
    height: 60px;
    
}

.difficulty{
    background-color: rgb(32, 128, 176);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    border: 1px solid;
    border-color: rgb(0, 0, 0);
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 20px;
    width: 110px;
    height: 60px;
}

.easy{
    background-color: rgb(176, 230, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(204, 223, 235);
   
}

.text{
    color: white;
}

.option{
    border: 1px solid black
}

.boxess {
    background-color:  rgb(32, 128, 176);
    border-color:black;
    border-style: groove;
    border: 1px solid;

    height: 90px;
    border-radius:10px;
    z-index: 999;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    top: 20px;
}